<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h2 class="text-white">USER LIST</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<p-dialog header="Error" [(visible)]="displayError" [style]="{'width': '30vw'}" [baseZIndex]="10000">
  <p style="color: red;"><strong>{{error}}</strong></p>
</p-dialog>
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">

    <p-table #userdt [resizableColumns]="true" [value]="users" styleClass="p-datatable-striped"
        [lazy]="pageConfigs.isLazy" (onLazyLoad)="loadUsers(userdt)" [rowsPerPageOptions]="[5,10,25,50,100]"
        [paginator]="true" [rows]="numberOfRowsPerPage" [totalRecords]="totalRecords">
      <ng-template pTemplate="header">
        <tr *ngIf="pageConfigs.isLazy">
          <th style="width:10%">#</th>
          <th style="width:20%" pSortableColumn="name">Name<p-sortIcon (click)="applyServerSideSorting('name')"></p-sortIcon></th>
          <th style="width:20%" pSortableColumn="gender">Gender<p-sortIcon (click)="applyServerSideSorting('gender')"></p-sortIcon></th>
          <th style="width:25%" pSortableColumn="role">User Type<p-sortIcon (click)="applyServerSideSorting('role')"></p-sortIcon></th>
          <th style="width:25%" >Status</th>
          <th style="width:40%" pSortableColumn="displayTime">Added On<p-sortIcon (click)="applyServerSideSorting('createdAt')"></p-sortIcon></th>
          <th style="width:30%"></th>
        </tr>
        <tr *ngIf="!pageConfigs.isLazy">
          <th style="width:10%">#</th>
          <th style="width:20%" pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
          <th style="width:20%" pSortableColumn="gender">Gender<p-sortIcon field="gender"></p-sortIcon></th>
          <th style="width:25%" pSortableColumn="role">User Type<p-sortIcon field="role"></p-sortIcon></th>
          <th style="width:25%" >Status</th>
          <th style="width:40%" pSortableColumn="createdOn">Added On<p-sortIcon field="createdOn"></p-sortIcon></th>
          <th style="width:30%"></th>
        </tr>
        <tr *ngIf = "pageConfigs.isLazy">
          <th style="width:10%"> Filters</th>
          <th style="width:20%">
            <span>
              <input pInputText style="width: 95%;" [(ngModel)]="nameFilterInput" 
              (keyup.enter) = "applyNameFilter()" (blur) = "applyNameFilter()"
              class="p-inputtext" placeholder="Filter by name" />
            </span>
          </th>
          <th style="width:30%">
            <p-dropdown appendTo="body" [options]="genderFilterInputOptions" 
              [(ngModel)]="genderFilterInput" optionLabel="name"
              optionValue="code" (onChange)="applyGenderFilter(genderFilterInput)">
            </p-dropdown>
          </th>
          <th style="width:25%">
            <p-dropdown appendTo="body" [options]="typeFilterInputOptions" 
            [(ngModel)]="typeFilterInput" optionLabel="name"
            optionValue="code" (onChange)="applyTypeFilter(typeFilterInput)">
          </p-dropdown>
          </th>
          <th>
            <span class="mr-2">Only Active:</span>
            <p-checkbox binary="true" [(ngModel)]="isOnlyActive" (onChange)="applyStatusFilter()"></p-checkbox>
          </th>
          <th style="width:40%">
            <p-dialog header="Select Date Range" [(visible)]="displayCalendar" 
              [style]="{'width': '20vw'}" [baseZIndex]="10000">
              <label for="startDate" class="mr-2">From:</label>
              <input pInputText id= "startDate" class="mb-4 p-inputtext-sm" 
                [(ngModel)]="startDateFilterInput" type="datetime-local" style="width: 70%;">
              <br/>
              <label for="FromDate" class="mr-4">To:</label>
              <input pInputText id= "FromDate" class="mb-4 p-inputtext-sm" 
              [(ngModel)]="endDateFilterInput" type="datetime-local" style="width: 70%;">
              <br/>
              <button pButton type="submit" label="Apply" (click) = "applyDateFilter()"
                class="p-button-sm p-button-raised p-button-primary">
              </button>
            </p-dialog>
            <button *ngIf="!dateRange" pButton type="button" label="Select date range"
                (click) = "displayCalendar = true"
                class="p-button-sm p-button-raised p-button-primary">
            </button>
            <button *ngIf="dateRange" pButton type="button" 
                icon = "pi pi-times"
                label = "{{startDateFilterInput}} To {{endDateFilterInput}}"
                (click) = "removeDateFilter()"
                class="p-button-sm p-button-raised p-button-primary">
            </button>
          </th>
          <th style="width:30%">
            <button pButton type="button" icon="pi pi-filter-slash" label="Clear filters"
                (click) = "removeAllFilters()"
                class="p-button-sm p-button-raised p-button-primary">
            </button>
          </th>
        </tr>
        <tr *ngIf = "!pageConfigs.isLazy">
          <th style="width:10%"> Filters</th>
          <th style="width:20%">
            <p-columnFilter type="text" field="name"></p-columnFilter>
          </th>
          <th style="width:30%">
            <p-columnFilter type="text" field="gender"></p-columnFilter>
          </th>
          <th style="width:25%">
            <p-columnFilter type="text" field="role"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="status"></p-columnFilter>
          </th>
          <th style="width:40%">
            <p-columnFilter type="text" field="displayTime"></p-columnFilter>
          </th>
          <th style="width:30%">
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" class="text-center" let-user let-i="rowIndex">
        <tr>
          <td>
            {{i+1}}
          </td>
          <td style="width:20%">
            <img src={{user.profilePictureUrl}} style="height:inherit; width:8%;" />
            {{user.name}}
          </td>
          <td style="width:20%">
            {{user.gender | titlecase}}
          </td>
          <td *ngIf="!user.updatable" style="width:20%">
            {{user.role | titlecase}}
          </td>
          <td *ngIf="user.updatable" style="width:10%">
            <p-dropdown appendTo="body" [options]="userRoles" [(ngModel)]="user.role" optionLabel="name"
                        optionValue="code">
            </p-dropdown>
          </td>
          <td style="width:10%">
            {{user.status}}
          </td>
          <td style="width:40%">{{user.displayTime}}</td>
          <td *ngIf="!user.updatable" style="width:15%">
            <i class="fa fa-info-circle m-3 text-blue" (click)="userDetails(user.id)"></i>
            <i class="fas fa-edit m-3 text-info" aria-hidden="true" (click)="editUser(user.id)"></i>
            <i class="fas fa-trash-alt m-3 text-danger" aria-hidden="true" (click)="deleteUser(user.id)"></i>

          </td>
          <td *ngIf="user.updatable" style="width:15%">

            <i class="fas fa-save m-3 text-blue" aria-hidden="true" (click)="updateUser(user)"></i>
            <i class="fa fa-times m-3 text-danger" (click)="closeEditUser(user.id)"></i>

          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
